Repository yhilem/ai_kreuzberg: changes, and which pre-commit hooks are due for each by the changed paths.
All: taplo-format, taplo-format-check, cargo-deny-licenses, go-fmt, golangci-lint, rubocop, steep, java-pmd, mypy, typescript-typecheck, dotnet-format

taplo-format:
  name: taplo format
  entry: bash -c 'scripts/toml_format.sh'
  language: system
  pass_filenames: false
  require_serial: true

taplo-format-check:
  name: taplo format check
  entry: bash -c 'scripts/toml_format.sh --check'
  language: system
  pass_filenames: false
  require_serial: true

cargo-deny-licenses:
  name: cargo deny licenses
  entry: cargo deny check licenses
  language: system
  pass_filenames: false
  require_serial: true

go-fmt:
  name: go fmt (packages/go)
  entry: bash -c 'cd packages/go && go fmt ./...'
  language: system
  pass_filenames: false

golangci-lint:
  name: golangci-lint (packages/go)
  entry: bash -c 'cd packages/go && golangci-lint run --config ../../.golangci.yml --fix ./...'
  language: system
  pass_filenames: false

rubocop:
  name: rubocop
  entry: bash -c 'cd packages/ruby && bundle exec rubocop --autocorrect --config .rubocop.yml'
  require_serial: true
  language: system
  pass_filenames: false

steep:
  name: steep
  entry: bash -c 'cd packages/ruby && bundle exec steep check'
  require_serial: true
  language: system
  pass_filenames: false

java-pmd:
  name: pmd (packages/java)
  entry: bash -c 'cd packages/java && mvn pmd:check'
  require_serial: true
  language: system
  pass_filenames: false

mypy:
  name: mypy
  entry: uv run python -m mypy
  require_serial: true
  language: system
  pass_filenames: false

typescript-typecheck:
  name: typescript typecheck (crates/kreuzberg-node)
  entry: bash -c 'cd crates/kreuzberg-node && pnpm typecheck'
  require_serial: true
  language: system
  pass_filenames: false

dotnet-format:
  name: dotnet format (packages/csharp)
  entry: bash -c 'cd packages/csharp && dotnet format Kreuzberg/Kreuzberg.csproj --verify-no-changes && dotnet format Kreuzberg.Tests/Kreuzberg.Tests.csproj --verify-no-changes && dotnet format Benchmark/Benchmark.csproj --verify-no-changes'
  language: system
  ...

feat(pdf): implement pdfium instance pooling and unified extraction
  WASM_BUILD_FIX.md
  crates/kreuzberg/Cargo.toml
  crates/kreuzberg/src/extractors/pdf.rs
  crates/kreuzberg/src/pdf/metadata.rs
  crates/kreuzberg/src/pdf/rendering.rs
  crates/kreuzberg/src/pdf/text.rs
Due: taplo-format, taplo-format-check, cargo-deny-licenses

feat(consolidation): implement Phase 4 config and format validation in Rust FFI
  crates/kreuzberg-ffi/kreuzberg.h
  crates/kreuzberg-ffi/src/config.rs
  crates/kreuzberg-ffi/src/lib.rs
  crates/kreuzberg-node/src/lib.rs
  crates/kreuzberg/src/core/formats.rs
  crates/kreuzberg/src/core/mod.rs
  crates/kreuzberg/src/lib.rs
Due: typescript-typecheck

perf(pdf): implement deferred Pdfium binding for lazy initialization
  crates/kreuzberg/src/pdf/bindings.rs
Due: none

feat: implement string pooling/interning for memory optimization
  Cargo.lock
  OPTIMIZATION_STRING_POOLING.md
  crates/kreuzberg/Cargo.toml
  crates/kreuzberg/src/core/extractor.rs
  crates/kreuzberg/src/utils/mod.rs
  crates/kreuzberg/src/utils/string_pool.rs
Due: taplo-format, taplo-format-check, cargo-deny-licenses

docs(object-pooling): add comprehensive documentation for batch optimization
  IMPLEMENTATION_SUMMARY.md
  docs/OBJECT_POOLING.md
Due: none

perf: implement Phase 3D optimizations and memory pre-allocation
  IMPLEMENTATION_SUMMARY.md
  OPTIMIZATION_STRING_POOLING.md
  PHASE_3E_COMPLETION_REPORT.md
  PHASE_3E_EXECUTIVE_SUMMARY.md
  PHASE_3E_INDEX.md
  PHASE_3E_SUMMARY.md
  PHASE_3E_TECHNICAL_SPECIFICATIONS.md
  PHASE_3E_WASM_MEMORY_OPTIMIZATION_PLAN.md
  PYTHON_BINDING_INVESTIGATION_COMPLETE.md
  WASM_BUILD_FIX.md
  crates/kreuzberg/Cargo.toml
  crates/kreuzberg/src/core/formats.rs
  crates/kreuzberg/src/extraction/archive.rs
  crates/kreuzberg/src/extraction/docx.rs
  crates/kreuzberg/src/extraction/email.rs
  crates/kreuzberg/src/extraction/html.rs
  crates/kreuzberg/src/extraction/markdown.rs
  crates/kreuzberg/src/extraction/pptx.rs
  crates/kreuzberg/src/extraction/table.rs
  crates/kreuzberg/src/extraction/text.rs
  crates/kreuzberg/src/text/string_utils.rs
Due: taplo-format, taplo-format-check, cargo-deny-licenses

fix(benchmark): gate sampling_frequency with profiling feature
  tools/benchmark-harness/src/runner.rs
Due: none

feat(ffi): add validation FFI module for configuration validation
  crates/kreuzberg-ffi/kreuzberg.h
  crates/kreuzberg-ffi/src/lib.rs
  crates/kreuzberg-ffi/src/validation.rs
Due: none

fix(java): resolve Java 21 FFM API compatibility and add Phase 2 error FFI integration
  packages/java/pom.xml
  packages/java/src/main/java/dev/kreuzberg/ErrorUtils.java
  packages/java/src/main/java/dev/kreuzberg/ExtractionResult.java
  packages/java/src/main/java/dev/kreuzberg/KreuzbergFFI.java
  packages/java/src/main/java/dev/kreuzberg/config/ExtractionConfig.java
  packages/java/src/test/java/dev/kreuzberg/Phase2ErrorFFITest.java
Due: java-pmd

feat(ffi): complete Phase 2 Ruby error FFI and add Phase 3 zero-copy result views
  Cargo.lock
  crates/kreuzberg-ffi/Cargo.toml
  crates/kreuzberg-ffi/benches/result_view_benchmark.rs
  crates/kreuzberg-ffi/kreuzberg.h
  crates/kreuzberg-ffi/src/lib.rs
  crates/kreuzberg-ffi/src/result_view.rs
  packages/ruby/ext/kreuzberg_rb/native/src/lib.rs
  packages/ruby/lib/kreuzberg/error_context.rb
Due: taplo-format, taplo-format-check, cargo-deny-licenses, rubocop, steep

perf(csharp): implement Session 1 Phase 1 quick win optimizations
  packages/csharp/Kreuzberg.Tests/PerformanceOptimizationTests.cs
  packages/csharp/Kreuzberg/InteropUtilities.cs
  packages/csharp/Kreuzberg/KreuzbergClient.cs
  packages/csharp/Kreuzberg/NativeMethods.cs
Due: dotnet-format

feat(profiling): session 2 benchmark harness optimization
  tools/benchmark-harness/scripts/KreuzbergExtractJava.java
  tools/benchmark-harness/scripts/kreuzberg_extract.ts
  tools/benchmark-harness/scripts/kreuzberg_extract_go.go
  tools/benchmark-harness/src/adapters/kreuzberg.rs
  tools/benchmark-harness/src/adapters/subprocess.rs
Due: none

fix(ffi): resolve unused imports and variables compilation errors
  crates/kreuzberg-ffi/src/batch_streaming.rs
  crates/kreuzberg-ffi/src/result_pool.rs
Due: none

feat(csharp): implement Session 3 JSON + Config optimizations (100-200ms gain)
  packages/csharp/Kreuzberg.Tests/PerformanceOptimizationTests.cs
  packages/csharp/Kreuzberg/KreuzbergClient.cs
  packages/csharp/Kreuzberg/Serialization.cs
Due: dotnet-format

fix: resolve FFI compilation errors and skip CI on profiling branch
  .github/workflows/ci-csharp.yaml
  .github/workflows/ci-docker.yaml
  .github/workflows/ci-go.yaml
  .github/workflows/ci-java.yaml
  .github/workflows/ci-node.yaml
  .github/workflows/ci-python.yaml
  .github/workflows/ci-ruby.yaml
  .github/workflows/ci-rust.yaml
  .github/workflows/ci-validate.yaml
  .github/workflows/ci-wasm.yaml
  Cargo.lock
  crates/kreuzberg-ffi/Cargo.toml
  crates/kreuzberg-ffi/src/batch_streaming.rs
  crates/kreuzberg-ffi/src/error.rs
  crates/kreuzberg-ffi/src/string_intern.rs
  crates/kreuzberg-node/Cargo.toml
  crates/kreuzberg-node/src/lib.rs
  crates/kreuzberg-py/src/ffi.rs
  crates/kreuzberg/Cargo.toml
  pnpm-lock.yaml
  tools/benchmark-harness/Cargo.toml
  uv.lock
Due: taplo-format, taplo-format-check, cargo-deny-licenses, typescript-typecheck

chore: updated deps
  Cargo.lock
  packages/java/pom.xml
  packages/ruby/Gemfile.lock
  uv.lock
Due: cargo-deny-licenses

fix: resolve CI workflow failures across all packages
  crates/kreuzberg/src/extraction/html.rs
  packages/go/v4/binding.go
  packages/java/pom.xml
  packages/python/kreuzberg/_internal_bindings.pyi
  packages/ruby/ext/kreuzberg_rb/native/src/lib.rs
  pyproject.toml
Due: taplo-format, taplo-format-check, go-fmt, golangci-lint

fix(java): bump maven-source-plugin to 3.4.0
  packages/java/pom.xml
Due: none

chore(java): standardize on Maven 3.9.12
  .github/actions/setup-maven-4/action.yaml
  .github/workflows/ci-java.yaml
  .github/workflows/profiling.yaml
  .github/workflows/publish.yaml
  Taskfile.yaml
  packages/java/pom.xml
Due: none

feat(typescript): add builder pattern, smart params, and improve API ergonomics
  crates/kreuzberg-node/typescript/index.ts
  uv.lock
Due: typescript-typecheck

fix(python): skip ffi link when static lib missing
  crates/kreuzberg-py/build.rs
Due: none

fix(csharp): avoid freeing cached utf8 pointers
  packages/csharp/Kreuzberg/InteropUtilities.cs
Due: dotnet-format

chore(node): sort imports for lint
  crates/kreuzberg-node/typescript/index.ts
Due: typescript-typecheck

fix(csharp): use test_documents fixtures for batch e2e
  e2e/csharp/BatchTests.cs
Due: none

chore(ci): increase Go Windows linker verbosity
  scripts/ci/actions/setup-go-cgo-env/windows.ps1
  scripts/ci/go/run-tests.sh
Due: none

chore(ci): add Go Windows linker diagnostics
  scripts/ci/actions/setup-go-cgo-env/windows.ps1
  scripts/ci/go/run-tests.sh
Due: none

chore: updated deps
  .pre-commit-config.yaml
  Cargo.lock
  Cargo.toml
  packages/ruby/ext/kreuzberg_rb/native/Cargo.lock
  pnpm-lock.yaml
  uv.lock
Due: taplo-format, taplo-format-check, cargo-deny-licenses

chore: prepare rc.18 release
  .github/workflows/publish.yaml
  CHANGELOG.md
Due: none

fix(wasm): silence clippy on test wrapper
  crates/kreuzberg-wasm/src/plugins.rs
  uv.lock
Due: none

Update README.md
  README.md
Due: none

fix(ci): correct ts e2e roots and ocr test gating
  crates/kreuzberg-ffi/src/batch_streaming.rs
  crates/kreuzberg/tests/ocr_language_registry.rs
  e2e/typescript/tests/batch.spec.ts
  e2e/typescript/tests/helpers.ts
  e2e/typescript/tests/html.spec.ts
  e2e/typescript/tests/xml.spec.ts
  tools/e2e-generator/src/typescript.rs
Due: none

fix(ci): align java config test and gate go linker verbosity
  packages/java/src/test/java/dev/kreuzberg/ConfigResultTest.java
  scripts/ci/actions/setup-go-cgo-env/windows.ps1
Due: java-pmd

fix(ci): add java metadata fixture and relax go windows ldflags
  packages/java/src/test/java/dev/kreuzberg/ConfigResultTest.java
  scripts/ci/actions/setup-go-cgo-env/windows.ps1
Due: java-pmd

fix(ci): adjust windows go toolchain and csharp skip
  .github/workflows/ci-go.yaml
  e2e/csharp/Helpers.cs
  packages/java/src/test/java/dev/kreuzberg/ConfigResultTest.java
  scripts/ci/go/setup-msys2-windows.ps1
  tools/e2e-generator/src/csharp.rs
Due: java-pmd

fix(ci): resolve critical CI failures and add comprehensive debugging
  .github/workflows/ci-go.yaml
  .github/workflows/ci-java.yaml
  .github/workflows/ci-node.yaml
  .github/workflows/ci-ruby.yaml
  CHANGES_MADE.txt
  RUBY_BENCHMARK_DEBUG_REPORT.md
  RUBY_BENCHMARK_FIX_SUMMARY.md
  crates/kreuzberg/src/extraction/html.rs
  crates/kreuzberg/src/utils/pool.rs
  e2e/csharp/Helpers.cs
  e2e/csharp/Kreuzberg.E2E.csproj
  packages/java/pom.xml
  packages/ruby/Gemfile.lock
  packages/ruby/ext/kreuzberg_rb/native/Cargo.lock
  scripts/ci/go/DEBUG-GUIDE.md
  scripts/ci/go/DEBUGGING-SUMMARY.md
  scripts/ci/go/build-ffi.ps1
  scripts/ci/go/build-ffi.sh
  scripts/ci/go/debug-build-environment.sh
  scripts/ci/go/debug-windows-environment.ps1
  scripts/ci/go/run-tests.sh
  scripts/ci/java/build-java.sh
  scripts/ci/java/run-tests.sh
  scripts/ci/ruby/build-gem.sh
  scripts/ci/ruby/compile-extension.sh
  scripts/ci/ruby/install-ruby-deps.ps1
  scripts/ci/ruby/run-tests.sh
  tools/benchmark-harness/src/adapters/kreuzberg.rs
  tools/benchmark-harness/src/adapters/subprocess.rs
  tools/benchmark-harness/templates/components/success_summary.html.jinja
Due: none

perf(excel): optimize markdown parsing and table extraction
  crates/kreuzberg/src/extractors/excel.rs
Due: none

fix(benchmark): use realistic sampling frequency limits (100-500 Hz)
  tools/benchmark-harness/src/config.rs
Due: none

revert: remove font cache infrastructure (Phase 3A) - API limitations
  crates/kreuzberg/src/pdf/font_cache.rs
  crates/kreuzberg/src/pdf/mod.rs
  crates/kreuzberg/src/pdf/text.rs
Due: none

feat(pdf): integrate DocumentFontCache with PdfTextExtractor
  crates/kreuzberg/src/pdf/text.rs
Due: none

feat(session-3): Task 3.2 - Lazy pool initialization for memory reduction
  crates/kreuzberg/src/core/batch_optimizations.rs
  crates/kreuzberg/src/utils/string_pool.rs
Due: none

Path conditions:
  taplo-format: any of: \.toml$, but not: ^docs/snippets/|vendor/|node_modules/|target/|v3/|invalid*
  taplo-format-check: any of: \.toml$, but not: ^docs/snippets/|vendor/|node_modules/|target/|v3/|invalid*
  cargo-deny-licenses: any of: ^(Cargo\.toml|Cargo\.lock|crates/.*/Cargo\.toml|tools/.*/Cargo\.toml|e2e/rust/Cargo\.toml|packages/ruby/ext/kreuzberg_rb/native/Cargo\.toml|deny\.toml)$, but not: ^docs/snippets/|vendor/|node_modules/|target/|v3/|invalid*
  go-fmt: any of: ^packages/go/.*\.go$, but not: ^docs/snippets/|vendor/|node_modules/|target/|v3/|invalid*
  golangci-lint: any of: ^packages/go/, but not: ^docs/snippets/|vendor/|node_modules/|target/|v3/|invalid*
  rubocop: any of: ^packages/ruby/.*\.rb$, but not: ^docs/snippets/|vendor/|node_modules/|target/|v3/|invalid*
  steep: any of: ^packages/ruby/(lib|sig)/.*\.(rb|rbs)$, but not: ^docs/snippets/|vendor/|node_modules/|target/|v3/|invalid*
  java-pmd: any of: ^packages/java/src/.*\.java$, but not: ^docs/snippets/|vendor/|node_modules/|target/|v3/|invalid*
  mypy: any of: \.py$, but not: ^docs/snippets/|vendor/|node_modules/|target/|v3/|invalid*
  typescript-typecheck: any of: ^crates/kreuzberg-node/, but not: ^docs/snippets/|vendor/|node_modules/|target/|v3/|invalid*
  dotnet-format: any of: ^packages/csharp/, but not: ^docs/snippets/|vendor/|node_modules/|target/|v3/|invalid*
