Repository yhilem/ai_kreuzberg: changes, and which pre-commit hooks are due for each by the changed paths.
All: taplo-format, taplo-format-check, cargo-deny-licenses, go-fmt, golangci-lint, rubocop, steep, java-pmd, mypy, typescript-typecheck, dotnet-format

taplo-format:
  name: taplo format
  entry: bash -c 'scripts/toml_format.sh'
  language: system
  pass_filenames: false
  require_serial: true

taplo-format-check:
  name: taplo format check
  entry: bash -c 'scripts/toml_format.sh --check'
  language: system
  pass_filenames: false
  require_serial: true

cargo-deny-licenses:
  name: cargo deny licenses
  entry: cargo deny check licenses
  language: system
  pass_filenames: false
  require_serial: true

go-fmt:
  name: go fmt (packages/go)
  entry: bash -c 'cd packages/go && go fmt ./...'
  language: system
  pass_filenames: false

golangci-lint:
  name: golangci-lint (packages/go)
  entry: bash -c 'cd packages/go && golangci-lint run --config ../../.golangci.yml --fix ./...'
  language: system
  pass_filenames: false

rubocop:
  name: rubocop
  entry: bash -c 'cd packages/ruby && bundle exec rubocop --autocorrect --config .rubocop.yml'
  require_serial: true
  language: system
  pass_filenames: false

steep:
  name: steep
  entry: bash -c 'cd packages/ruby && bundle exec steep check'
  require_serial: true
  language: system
  pass_filenames: false

java-pmd:
  name: pmd (packages/java)
  entry: bash -c 'cd packages/java && mvn pmd:check'
  require_serial: true
  language: system
  pass_filenames: false

mypy:
  name: mypy
  entry: uv run python -m mypy
  require_serial: true
  language: system
  pass_filenames: false

typescript-typecheck:
  name: typescript typecheck (crates/kreuzberg-node)
  entry: bash -c 'cd crates/kreuzberg-node && pnpm typecheck'
  require_serial: true
  language: system
  pass_filenames: false

dotnet-format:
  name: dotnet format (packages/csharp)
  entry: bash -c 'cd packages/csharp && dotnet format Kreuzberg/Kreuzberg.csproj --verify-no-changes && dotnet format Kreuzberg.Tests/Kreuzberg.Tests.csproj --verify-no-changes && dotnet format Benchmark/Benchmark.csproj --verify-no-changes'
  language: system
  ...

fix(java): bundle native libraries in JAR for smoke test execution
  e2e/java/pom.xml
  packages/java/pom.xml
  packages/java/src/main/resources/natives/linux-arm64/.gitkeep
  packages/java/src/main/resources/natives/linux-x86_64/.gitkeep
  packages/java/src/main/resources/natives/windows-x86_64/.gitkeep
Due: none

fix(ci): ensure C# NuGet publishing succeeds with parallel native builds
  .github/workflows/publish.yaml
  scripts/publish/csharp/assemble-native-assets.sh
Due: none

refactor(benchmark-harness): migrate HTML generation to MiniJinja templates
  Cargo.lock
  tools/benchmark-harness/Cargo.toml
  tools/benchmark-harness/src/html.rs
  tools/benchmark-harness/templates/README.md
  tools/benchmark-harness/templates/base.html.jinja
  tools/benchmark-harness/templates/charts/duration.html.jinja
  tools/benchmark-harness/templates/charts/duration_script.js.jinja
  tools/benchmark-harness/templates/charts/filetype.html.jinja
  tools/benchmark-harness/templates/charts/filetype_script.js.jinja
  tools/benchmark-harness/templates/charts/memory.html.jinja
  tools/benchmark-harness/templates/charts/memory_script.js.jinja
  tools/benchmark-harness/templates/charts/success.html.jinja
  tools/benchmark-harness/templates/charts/success_script.js.jinja
  tools/benchmark-harness/templates/charts/throughput.html.jinja
  tools/benchmark-harness/templates/charts/throughput_script.js.jinja
  tools/benchmark-harness/templates/components/empty_state.html.jinja
  tools/benchmark-harness/templates/components/header.html.jinja
  tools/benchmark-harness/templates/components/success_summary.html.jinja
  tools/benchmark-harness/templates/components/tabs.html.jinja
  tools/benchmark-harness/templates/styles/charts.css.jinja
  tools/benchmark-harness/templates/styles/components.css.jinja
  tools/benchmark-harness/templates/styles/layout.css.jinja
  tools/benchmark-harness/templates/styles/variables.css.jinja
Due: taplo-format, taplo-format-check, cargo-deny-licenses

fix: quote Windows PATH variables to handle spaces in workspace paths
  .github/workflows/ci-go.yaml
Due: none

chore: fixes publishing
  .github/actions/install-system-deps/action.yml
  .github/workflows/publish.yaml
  CHANGELOG.md
  crates/kreuzberg-node/package.json
  crates/kreuzberg/build.rs
  e2e/smoke/node/package.json
  e2e/wasm-workers/package.json
  examples/python/pyproject.toml
  pnpm-lock.yaml
  pnpm-workspace.yaml
  pyproject.toml
  scripts/ci/install-system-deps/detect-tesseract-linux.sh
  scripts/ci/install-system-deps/detect-tesseract-macos.sh
  scripts/ci/install-system-deps/install-linux.sh
  scripts/ci/install-system-deps/install-macos.sh
  scripts/ci/install-system-deps/install-windows.ps1
  scripts/lib/retry.sh
  scripts/sync_versions.py
Due: taplo-format, taplo-format-check, mypy, typescript-typecheck

fix(publish): stabilize workflows across platforms
  .github/workflows/publish.yaml
  scripts/publish/cli/package-cli-windows.ps1
  scripts/publish/csharp/install-linux-cross-toolchain-arm64.sh
  scripts/publish/validate-version-consistency.sh
Due: none

fix(ci): unblock rc.8 publish workflow
  .github/workflows/publish.yaml
  scripts/ci/java/smoke.sh
  scripts/ci/java/stage-native-resources.sh
  scripts/lib/retry.sh
  scripts/publish/csharp/install-linux-cross-toolchain-arm64.sh
Due: none

fix(ci): resolve ShellCheck SC2010 warning in ARM64 toolchain script
  scripts/publish/csharp/install-linux-cross-toolchain-arm64.sh
Due: none

feat(kreuzberg): add PDFIUM_STATIC_LIB_PATH support for Docker static linking
  crates/kreuzberg/Cargo.toml
  crates/kreuzberg/build.rs
Due: taplo-format, taplo-format-check, cargo-deny-licenses

fix(ci): unblock csharp e2e hang and null warnings
  e2e/csharp/Helpers.cs
  scripts/e2e/csharp/test.sh
Due: none

fix(release): make github uploads and npm publish quieter
  .github/workflows/publish.yaml
  scripts/publish/check-release-assets.sh
  scripts/publish/lib/common.sh
  scripts/publish/upload-cli-binaries.sh
  scripts/publish/upload-go-libraries.sh
Due: none

docs(changelog): add PDFIUM_STATIC_LIB_PATH environment variable to unreleased
  CHANGELOG.md
Due: none

chore: updated deps
  .pre-commit-config.yaml
  Cargo.lock
  crates/kreuzberg-node/package.json
  pnpm-lock.yaml
  uv.lock
Due: cargo-deny-licenses, typescript-typecheck

chore(release): 4.0.0-rc.9
  .cargo/config.toml
  .github/workflows/ci-csharp.yaml
  .github/workflows/ci-go.yaml
  .github/workflows/ci-java.yaml
  .github/workflows/ci-node.yaml
  .github/workflows/ci-python.yaml
  .github/workflows/ci-ruby.yaml
  .github/workflows/publish.yaml
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  crates/kreuzberg-core-types/package.json
  crates/kreuzberg-node/package.json
  crates/kreuzberg-node/tests/binding/cli.spec.ts
  crates/kreuzberg-node/typescript/index.ts
  crates/kreuzberg-wasm/.cargo/config.toml
  crates/kreuzberg-wasm/Cargo.toml
  crates/kreuzberg-wasm/package.json
  crates/kreuzberg-wasm/src/lib.rs
  crates/kreuzberg-wasm/typescript/index.ts
  crates/kreuzberg/Cargo.toml
  e2e/java/pom.xml
  e2e/smoke/node/package.json
  e2e/wasm-workers/package.json
  package.json
  packages/csharp/Kreuzberg/Kreuzberg.csproj
  packages/go/README.md
  packages/go/kreuzberg/doc.go
  packages/java/README.md
  packages/java/pom.xml
  packages/python/pyproject.toml
  packages/ruby/Gemfile.lock
  packages/ruby/ext/kreuzberg_rb/native/Cargo.toml
  packages/ruby/lib/kreuzberg/version.rb
  scripts/publish/node/package-artifacts.ps1
  scripts/publish/node/package-artifacts.sh
  scripts/publish/pack-node-platform-packages.sh
  test_documents/json/real_world/package.json
  tools/e2e-generator/src/java.rs
Due: taplo-format, taplo-format-check, cargo-deny-licenses, go-fmt, golangci-lint, rubocop, steep, typescript-typecheck, dotnet-format

fix(ci): sync versions + cargo package prerelease
  e2e/smoke/node/package.json
  e2e/wasm-workers/package.json
  packages/ruby/Gemfile.lock
  scripts/ci/node/run-e2e.sh
  scripts/ci/node/run-typescript-tests.sh
  scripts/publish/cargo/package-crates.sh
  scripts/sync_versions.py
  uv.lock
Due: mypy

fix(go): generate kreuzberg-ffi.pc for CI cgo
  scripts/lib/library-paths.sh
Due: none

ci(rust): skip system deps for CLI smoke
  .github/workflows/ci-rust.yaml
  crates/kreuzberg-node/typescript/index.ts
  crates/kreuzberg-node/typescript/types.ts
  crates/kreuzberg/tests/format_integration.rs
Due: typescript-typecheck

chore: improved csharp typing
  packages/csharp/Kreuzberg/KreuzbergClient.cs
Due: dotnet-format

fix: remove missing embeddings_loading benchmark from Cargo.toml
  crates/kreuzberg/Cargo.toml
Due: taplo-format, taplo-format-check, cargo-deny-licenses

fix: correct PDFium asset names in setup-pdfium-static action
  .github/actions/setup-pdfium-static/action.yml
Due: none

fix: change Ruby binding to use bundled-pdfium instead of static-pdfium
  .github/workflows/ci-ruby.yaml
  packages/ruby/ext/kreuzberg_rb/native/Cargo.toml
Due: taplo-format, taplo-format-check, cargo-deny-licenses

fix: add workspace.dependencies for html-to-markdown-rs in Ruby native Cargo.toml
  packages/ruby/ext/kreuzberg_rb/native/Cargo.lock
  packages/ruby/ext/kreuzberg_rb/native/Cargo.toml
Due: taplo-format, taplo-format-check, cargo-deny-licenses

fix: update vendor-kreuzberg-core.sh to handle html-to-markdown-rs and once_cell
  packages/ruby/ext/kreuzberg_rb/native/Cargo.toml
  scripts/ci/ruby/vendor-kreuzberg-core.sh
Due: taplo-format, taplo-format-check, cargo-deny-licenses

fix: update Ruby CI workflow to use Python vendoring script
  .github/workflows/ci-ruby.yaml
Due: none

fix: add disk space cleanup to CI workflows
  .github/workflows/ci-go.yaml
  .github/workflows/ci-java.yaml
  .github/workflows/ci-node.yaml
  .github/workflows/ci-python.yaml
  .github/workflows/ci-ruby.yaml
Due: none

fix: resolve all CI test failures
  crates/kreuzberg-wasm/scripts/fix-type-exports.js
  crates/kreuzberg-wasm/src/config.rs
  crates/kreuzberg-wasm/tests/integration_extraction.rs
  crates/kreuzberg-wasm/tests/integration_js_interop.rs
  crates/kreuzberg-wasm/tests/integration_plugins.rs
  crates/kreuzberg-wasm/tests/pdf_extraction.rs
  crates/kreuzberg-wasm/typescript/index.ts
  e2e/go/go.mod
  e2e/wasm-deno/deno.json
  e2e/wasm-deno/email.test.ts
  e2e/wasm-deno/helpers.ts
  e2e/wasm-deno/html.test.ts
  e2e/wasm-deno/image.test.ts
  e2e/wasm-deno/ocr.test.ts
  e2e/wasm-deno/office.test.ts
  e2e/wasm-deno/pdf.test.ts
  e2e/wasm-deno/smoke.test.ts
  e2e/wasm-deno/structured.test.ts
  e2e/wasm-deno/xml.test.ts
  e2e/wasm-workers/email.spec.ts
  e2e/wasm-workers/html.spec.ts
  e2e/wasm-workers/image.spec.ts
  e2e/wasm-workers/ocr.spec.ts
  e2e/wasm-workers/pdf.spec.ts
  e2e/wasm-workers/plugin-apis.spec.ts
  e2e/wasm-workers/smoke.spec.ts
  e2e/wasm-workers/structured.spec.ts
  e2e/wasm-workers/tests/helpers.ts
  e2e/wasm-workers/tests/smoke.spec.ts
  e2e/wasm-workers/xml.spec.ts
  packages/ruby/vendor/rb-sys/bin/release.sh
  tools/e2e-generator/src/wasm_workers.rs
Due: none

chore: remove WORKERS_LIMITATIONS.md
  e2e/wasm-workers/WORKERS_LIMITATIONS.md
Due: none

fix: Cloudflare Workers tests - disable fixture loading in sandbox environment
  crates/kreuzberg-tesseract/build.rs
  crates/kreuzberg-wasm/src/embeddings.rs
  crates/kreuzberg/src/extraction/html.rs
  e2e/wasm-deno/helpers.ts
  e2e/wasm-workers/tests/email.spec.ts
  e2e/wasm-workers/tests/helpers.ts
  e2e/wasm-workers/tests/html.spec.ts
  e2e/wasm-workers/tests/image.spec.ts
  e2e/wasm-workers/tests/ocr.spec.ts
  e2e/wasm-workers/tests/pdf.spec.ts
  e2e/wasm-workers/tests/smoke.spec.ts
  e2e/wasm-workers/tests/structured.spec.ts
  e2e/wasm-workers/tests/xml.spec.ts
  e2e/wasm-workers/vitest.config.ts
  packages/ruby/ext/kreuzberg_rb/native/Cargo.lock
  tools/e2e-generator/src/wasm_workers.rs
Due: none

fix: resolve Ruby, Go, and Deno CI failures from generator bugs
  crates/kreuzberg-tesseract/build.rs
  e2e/wasm-deno/helpers.ts
  e2e/wasm-deno/html.test.ts
  tools/e2e-generator/src/go.rs
  tools/e2e-generator/src/wasm_deno.rs
Due: none

fix: optimize CI workflow glob path triggers for granular dependency tracking
  .github/workflows/ci-csharp.yaml
  .github/workflows/ci-go.yaml
  .github/workflows/ci-java.yaml
  .github/workflows/ci-node.yaml
  .github/workflows/ci-python.yaml
  .github/workflows/ci-ruby.yaml
  .github/workflows/ci-rust.yaml
  .github/workflows/ci-validate.yaml
  .github/workflows/ci-wasm.yaml
Due: none

fix: resolve publish pipeline and CI/CD failures
  .github/workflows/ci-java.yaml
  crates/kreuzberg/Cargo.toml
  crates/kreuzberg/src/error.rs
  scripts/ci/actions/setup-go-cgo-env/windows.ps1
  scripts/publish/csharp/verify-nuget-native-assets.sh
Due: taplo-format, taplo-format-check, cargo-deny-licenses

fix: add version requirement to kreuzberg dependency in cli crate
  crates/kreuzberg-cli/Cargo.toml
Due: taplo-format, taplo-format-check, cargo-deny-licenses

fix: correct maven existence check logic
  scripts/publish/check_maven.sh
Due: none

improve: enhance maven central indexing retry logic
  scripts/publish/check_maven.sh
Due: none

improve: add better debugging and validation to release asset checks
  scripts/publish/check-release-assets.sh
Due: none

fix: check maven repository directly instead of search api
  scripts/publish/check_maven.sh
Due: none

improve: add gem file validation before publishing to rubygems
  scripts/publish/push-gems-to-rubygems.sh
Due: none

improve: add gem file validation and disk space monitoring to ruby build
  .github/workflows/publish.yaml
Due: none

Path conditions:
  taplo-format: any of: \.toml$, but not: ^docs/snippets/|vendor/|node_modules/|target/|v3/|invalid*
  taplo-format-check: any of: \.toml$, but not: ^docs/snippets/|vendor/|node_modules/|target/|v3/|invalid*
  cargo-deny-licenses: any of: ^(Cargo\.toml|Cargo\.lock|crates/.*/Cargo\.toml|tools/.*/Cargo\.toml|e2e/rust/Cargo\.toml|packages/ruby/ext/kreuzberg_rb/native/Cargo\.toml|deny\.toml)$, but not: ^docs/snippets/|vendor/|node_modules/|target/|v3/|invalid*
  go-fmt: any of: ^packages/go/.*\.go$, but not: ^docs/snippets/|vendor/|node_modules/|target/|v3/|invalid*
  golangci-lint: any of: ^packages/go/, but not: ^docs/snippets/|vendor/|node_modules/|target/|v3/|invalid*
  rubocop: any of: ^packages/ruby/.*\.rb$, but not: ^docs/snippets/|vendor/|node_modules/|target/|v3/|invalid*
  steep: any of: ^packages/ruby/(lib|sig)/.*\.(rb|rbs)$, but not: ^docs/snippets/|vendor/|node_modules/|target/|v3/|invalid*
  java-pmd: any of: ^packages/java/src/.*\.java$, but not: ^docs/snippets/|vendor/|node_modules/|target/|v3/|invalid*
  mypy: any of: \.py$, but not: ^docs/snippets/|vendor/|node_modules/|target/|v3/|invalid*
  typescript-typecheck: any of: ^crates/kreuzberg-node/, but not: ^docs/snippets/|vendor/|node_modules/|target/|v3/|invalid*
  dotnet-format: any of: ^packages/csharp/, but not: ^docs/snippets/|vendor/|node_modules/|target/|v3/|invalid*
