Repository yhilem/ai_kreuzberg: changes, and which pre-commit hooks are due for each by the changed paths.
All: taplo-format, taplo-format-check, cargo-deny-licenses, go-fmt, golangci-lint, rubocop, steep, java-pmd, mypy, typescript-typecheck, dotnet-format

Path conditions:
  taplo-format: any of: \.toml$, but not: ^docs/snippets/|vendor/|node_modules/|target/|v3/|invalid*
  taplo-format-check: any of: \.toml$, but not: ^docs/snippets/|vendor/|node_modules/|target/|v3/|invalid*
  cargo-deny-licenses: any of: ^(Cargo\.toml|Cargo\.lock|crates/.*/Cargo\.toml|tools/.*/Cargo\.toml|e2e/rust/Cargo\.toml|packages/ruby/ext/kreuzberg_rb/native/Cargo\.toml|deny\.toml)$, but not: ^docs/snippets/|vendor/|node_modules/|target/|v3/|invalid*
  go-fmt: any of: ^packages/go/.*\.go$, but not: ^docs/snippets/|vendor/|node_modules/|target/|v3/|invalid*
  golangci-lint: any of: ^packages/go/, but not: ^docs/snippets/|vendor/|node_modules/|target/|v3/|invalid*
  rubocop: any of: ^packages/ruby/.*\.rb$, but not: ^docs/snippets/|vendor/|node_modules/|target/|v3/|invalid*
  steep: any of: ^packages/ruby/(lib|sig)/.*\.(rb|rbs)$, but not: ^docs/snippets/|vendor/|node_modules/|target/|v3/|invalid*
  java-pmd: any of: ^packages/java/src/.*\.java$, but not: ^docs/snippets/|vendor/|node_modules/|target/|v3/|invalid*
  mypy: any of: \.py$, but not: ^docs/snippets/|vendor/|node_modules/|target/|v3/|invalid*
  typescript-typecheck: any of: ^crates/kreuzberg-node/, but not: ^docs/snippets/|vendor/|node_modules/|target/|v3/|invalid*
  dotnet-format: any of: ^packages/csharp/, but not: ^docs/snippets/|vendor/|node_modules/|target/|v3/|invalid*

fix: resolve CI publish and benchmark workflow failures
  .github/workflows/benchmarks.yaml
  Cargo.lock
  crates/kreuzberg-node/artifacts/index.d.ts
  crates/kreuzberg-node/artifacts/index.js
  crates/kreuzberg-node/npm/darwin-arm64/README.md
  crates/kreuzberg-node/npm/darwin-arm64/package.json
  crates/kreuzberg-node/npm/darwin-x64/README.md
  crates/kreuzberg-node/npm/darwin-x64/package.json
  crates/kreuzberg-node/npm/linux-arm-gnueabihf/README.md
  crates/kreuzberg-node/npm/linux-arm-gnueabihf/package.json
  crates/kreuzberg-node/npm/linux-arm64-gnu/README.md
  crates/kreuzberg-node/npm/linux-arm64-gnu/package.json
  crates/kreuzberg-node/npm/linux-x64-gnu/README.md
  crates/kreuzberg-node/npm/linux-x64-gnu/package.json
  crates/kreuzberg-node/npm/win32-arm64-msvc/README.md
  crates/kreuzberg-node/npm/win32-arm64-msvc/package.json
  crates/kreuzberg-node/npm/win32-x64-msvc/README.md
  crates/kreuzberg-node/npm/win32-x64-msvc/package.json
  crates/kreuzberg-node/package.json
  crates/kreuzberg-wasm/package.json
  e2e/typescript/tests/email.spec.ts
  e2e/typescript/tests/helpers.ts
  e2e/typescript/tests/html.spec.ts
  e2e/typescript/tests/image.spec.ts
  e2e/typescript/tests/ocr.spec.ts
  e2e/typescript/tests/office.spec.ts
  e2e/typescript/tests/pdf.spec.ts
  e2e/typescript/tests/plugin-apis.spec.ts
  e2e/typescript/tests/smoke.spec.ts
  e2e/typescript/tests/structured.spec.ts
  e2e/typescript/tests/xml.spec.ts
  scripts/publish/csharp/verify-nuget-native-assets.sh
Due: cargo-deny-licenses, typescript-typecheck

fix: remove obsolete pdfium bundling references in python wheel
  packages/python/pyproject.toml
Due: taplo-format, taplo-format-check

fix: exclude wasm32 target from clippy check
  .github/workflows/ci-wasm.yaml
Due: none

fix: bundle libpdfium.dylib in target/release for language bindings
  crates/kreuzberg-ffi/build.rs
Due: none

docs: update changelog for rc.11 with Java and Python fixes
  CHANGELOG.md
Due: none

fix: resolve rc.10 publish failures - WASM, Node, C#, and Ruby
  .github/workflows/publish.yaml
  scripts/publish/node/package-artifacts.sh
  scripts/publish/push-gems-to-rubygems.sh
Due: none

fix: resolve Ruby gem validation error - accept uncompressed tar format
  .github/workflows/publish.yaml
  scripts/publish/push-gems-to-rubygems.sh
Due: none

fix: resolve C# NuGet smoke test file path resolution
  scripts/publish/csharp/smoke-test-nuget.sh
Due: none

docs: update CHANGELOG to document Go bindings verification
  CHANGELOG.md
Due: none

fix: prevent PDFium extraction race condition with atomic file operations
  crates/kreuzberg/src/pdf/bundled.rs
Due: none

fix: return empty array instead of nil for empty chunks in Ruby Result class
  packages/ruby/lib/kreuzberg/result.rb
Due: rubocop, steep

fix: resolve TypeScript type export mismatch in WASM package
  crates/kreuzberg-wasm/scripts/fix-type-exports.js
  crates/kreuzberg-wasm/tsup.config.ts
Due: none

fix(java): update maven compiler release to 25 to fix ci build
  packages/java/pom.xml
Due: none

chore: remove unused build scripts and GitHub Actions
  .github/actions/build-cli/action.yml
  .github/actions/build-ruby-unix/action.yml
  .github/actions/build-ruby-windows/action.yml
  .github/actions/build-wheels/action.yaml
  .github/actions/checkout-target-commit/action.yml
  .github/actions/setup-kreuzberg-env/action.yml
  .github/actions/smoke-ruby/action.yml
  .github/actions/smoke-rust/action.yml
  scripts/build_napi_module.sh
  scripts/build_python_bindings.sh
  scripts/build_python_dev.sh
  scripts/build_ruby_extension.sh
  scripts/ci/actions/build-cli/build.sh
  scripts/ci/actions/build-cli/package-unix.sh
  scripts/ci/actions/build-cli/package-windows.ps1
  scripts/ci/actions/build-ruby-unix/build-native.sh
  scripts/ci/actions/build-ruby-unix/install-deps.sh
  scripts/ci/actions/build-ruby-unix/package.sh
  scripts/ci/actions/build-ruby-windows/build-native.ps1
  scripts/ci/actions/build-ruby-windows/install-deps.ps1
  scripts/ci/actions/build-ruby-windows/package.ps1
  scripts/ci/actions/build-wheels/cibw-before-build-linux.sh
  scripts/ci/actions/build-wheels/cibw-before-build-macos.sh
  scripts/ci/actions/build-wheels/configure-rust-lint-flags.sh
  scripts/ci/actions/build-wheels/prepare-onnx-caches.sh
  scripts/ci/actions/checkout-target-commit/ensure-target-sha.sh
  scripts/ci/actions/setup-kreuzberg-env/determine-platform.sh
  scripts/ci/actions/setup-kreuzberg-env/setup-cgo-unix.sh
  scripts/ci/actions/setup-kreuzberg-env/setup-cgo-windows.ps1
  scripts/ci/actions/setup-kreuzberg-env/setup-unix.sh
  scripts/ci/actions/setup-kreuzberg-env/setup-windows.ps1
  scripts/ci/actions/setup-kreuzberg-env/verify.sh
  scripts/ci/actions/smoke-ruby/run.sh
  scripts/ci/actions/smoke-rust/run.sh
  scripts/install_ruby_dependencies.sh
  scripts/package_node_artifacts.sh
Due: none

ci: increase all CI timeouts from 2h to 3h
  .github/workflows/ci-csharp.yaml
  .github/workflows/ci-go.yaml
  .github/workflows/ci-java.yaml
  .github/workflows/ci-node.yaml
  .github/workflows/ci-python.yaml
  .github/workflows/ci-ruby.yaml
  .github/workflows/ci-validate.yaml
  .github/workflows/ci-wasm.yaml
Due: none

ci: increase benchmarks and publish workflow timeouts to 3h
  .github/workflows/benchmarks.yaml
  .github/workflows/publish.yaml
Due: none

chore: release v4.0.0-rc.15
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  crates/kreuzberg-node/npm/darwin-arm64/package.json
  crates/kreuzberg-node/npm/darwin-x64/package.json
  crates/kreuzberg-node/npm/linux-arm-gnueabihf/package.json
  crates/kreuzberg-node/npm/linux-arm64-gnu/package.json
  crates/kreuzberg-node/npm/linux-x64-gnu/package.json
  crates/kreuzberg-node/npm/win32-arm64-msvc/package.json
  crates/kreuzberg-node/npm/win32-x64-msvc/package.json
  crates/kreuzberg-node/package.json
  crates/kreuzberg-node/tests/binding/cli.spec.ts
  crates/kreuzberg-node/typescript/index.ts
  crates/kreuzberg-wasm/package.json
  crates/kreuzberg/Cargo.toml
  e2e/go/go.mod
  e2e/java/pom.xml
  e2e/smoke/node/package.json
  e2e/wasm-workers/package.json
  package.json
  packages/csharp/Kreuzberg/Kreuzberg.csproj
  packages/csharp/README.md
  packages/go/README.md
  packages/go/v4/doc.go
  packages/java/README.md
  packages/java/pom.xml
  packages/python/pyproject.toml
  packages/ruby/Gemfile.lock
  packages/ruby/ext/kreuzberg_rb/native/Cargo.lock
  packages/ruby/ext/kreuzberg_rb/native/Cargo.toml
  packages/ruby/lib/kreuzberg/version.rb
  packages/typescript/core/package.json
  scripts/publish/node/package-artifacts.ps1
  test_documents/json/real_world/package.json
  tools/benchmark-harness/scripts/go.mod
  tools/e2e-generator/src/java.rs
  uv.lock
Due: taplo-format, taplo-format-check, cargo-deny-licenses, go-fmt, golangci-lint, rubocop, steep, typescript-typecheck, dotnet-format

chore: upgrade to Maven 4 and update all dependencies
  Cargo.lock
  Taskfile.yaml
  packages/java/pom.xml
  packages/java/src/main/java/dev/kreuzberg/Kreuzberg.java
  packages/java/src/main/java/dev/kreuzberg/KreuzbergFFI.java
  pnpm-lock.yaml
  uv.lock
Due: cargo-deny-licenses, java-pmd

fix(ci): fix OpenSSL detection for Ruby builds on macOS ARM64
  .github/workflows/ci-ruby.yaml
  scripts/ci/actions/build-rust-ffi/build.sh
  scripts/ci/actions/setup-openssl/macos-configure.sh
  scripts/ci/actions/setup-openssl/macos-install.sh
Due: none

chore: remove agent-generated test summary file
  crates/kreuzberg-wasm/TEST_SUMMARY.md
Due: none

fix(docs): remove non-existent CLI flags from documentation
  docs/cli/usage.md
  docs/getting-started/quickstart.md
  docs/guides/ocr.md
  docs/snippets/cli/extract_basic.md
  docs/snippets/cli/ocr_basic.md
Due: none

fix(docs): correct API server documentation inaccuracies
  crates/kreuzberg/src/api/mod.rs
  docs/guides/api-server.md
  docs/guides/docker.md
  docs/reference/configuration.md
Due: none

feat(docs): add missing C# and Rust snippets for language parity
  docs/snippets/csharp/api/batch_extract_bytes_async.md
  docs/snippets/csharp/api/batch_extract_bytes_sync.md
  docs/snippets/csharp/api/batch_extract_files_async.md
  docs/snippets/csharp/api/batch_extract_files_sync.md
  docs/snippets/csharp/api/client_extract_single_file.md
  docs/snippets/csharp/api/error_handling_extract.md
  docs/snippets/csharp/api/extract_bytes_async.md
  docs/snippets/csharp/api/extract_bytes_sync.md
  docs/snippets/csharp/api/extract_file_async.md
  docs/snippets/csharp/api/extract_file_sync.md
  docs/snippets/csharp/api/extraction_config.cs
  docs/snippets/csharp/api/extraction_result.cs
  docs/snippets/csharp/api/kreuzberg.cs
  docs/snippets/rust/config/advanced_config.md
  docs/snippets/rust/config/chunking_config.md
  docs/snippets/rust/config/config_ocr.md
  docs/snippets/rust/config/embedding_config.md
  docs/snippets/rust/config/keyword_extraction_config.md
  docs/snippets/rust/config/language_detection_config.md
  docs/snippets/rust/config/ocr_dpi_config.md
  docs/snippets/rust/config/pdf_config.md
  docs/snippets/rust/config/postprocessor_config.md
  docs/snippets/rust/config/quality_processing_config.md
  docs/snippets/rust/config/tesseract_config.md
  docs/snippets/rust/config/token_reduction_config.md
Due: none

fix(python): include .pyi stub files in wheel distributions
  CHANGELOG.md
  packages/python/pyproject.toml
Due: taplo-format, taplo-format-check

fix(go-ci): resolve Windows CGO_LDFLAGS duplication and linking errors
  scripts/ci/actions/setup-go-cgo-env/unix.sh
  scripts/ci/actions/setup-go-cgo-env/windows.ps1
  scripts/ci/go/build-bindings.ps1
  scripts/lib/library-paths.sh
Due: none

fix(rust): skip LibreOffice tests on Windows CI to prevent timeouts
  CHANGELOG.md
  crates/kreuzberg/tests/format_integration.rs
  e2e/rust/tests/office_test.rs
Due: none

style(docs): enhance navigation link styles with gradients and hover effects
  docs/css/extra.css
Due: none

fix(wasm-deno): regenerate E2E tests with updated helpers
  e2e/wasm-deno/email.test.ts
  e2e/wasm-deno/helpers.ts
  e2e/wasm-deno/html.test.ts
  e2e/wasm-deno/image.test.ts
  e2e/wasm-deno/ocr.test.ts
  e2e/wasm-deno/office.test.ts
  e2e/wasm-deno/pdf.test.ts
  e2e/wasm-deno/smoke.test.ts
  e2e/wasm-deno/structured.test.ts
  e2e/wasm-deno/xml.test.ts
Due: none

docs(migration): add inline titles to code snippets in v3-to-v4 guide
  docs/migration/v3-to-v4.md
Due: none

feat(wasm): enforce 2MB HTML file size limit to prevent stack overflow
  crates/kreuzberg-wasm/README.md
  crates/kreuzberg-wasm/src/lib.rs
  crates/kreuzberg/src/extraction/html.rs
Due: none

fix(ruby): use steep binstub instead of bundle exec
  Taskfile.yaml
Due: none

fix(wasm): resolve Deno test failures for HTML and XML
  e2e/wasm-deno/helpers.ts
  e2e/wasm-deno/html.test.ts
  e2e/wasm-deno/xml.test.ts
  fixtures/xml/plant_catalog.json
Due: none

ci(profiling): add explicit sccache configuration to all setup-rust calls
  .github/workflows/profiling.yaml
Due: none

feat: add CPU profiling and flamegraph generation to benchmarks
  .github/workflows/profiling.yaml
  Cargo.lock
  scripts/ci/benchmarks/generate-flamegraph-index.sh
  tools/benchmark-harness/Cargo.toml
  tools/benchmark-harness/fixtures/.profiling-subset
  tools/benchmark-harness/src/error.rs
  tools/benchmark-harness/src/fixture.rs
  tools/benchmark-harness/src/html.rs
  tools/benchmark-harness/src/lib.rs
  tools/benchmark-harness/src/main.rs
  tools/benchmark-harness/src/profiling.rs
  tools/benchmark-harness/src/runner.rs
  tools/benchmark-harness/templates/flamegraphs.html.jinja
Due: taplo-format, taplo-format-check, cargo-deny-licenses

fix: resolve profiling workflow issues (Ruby linking and flamegraph generation)
  .github/workflows/profiling.yaml
  PROFILING_ANALYSIS_20377408899.md
  scripts/benchmarks/build-native-libs.sh
Due: none

fix: resolve profiling workflow issues properly (no AI signature)
  .github/workflows/profiling.yaml
  scripts/benchmarks/build-native-libs.sh
Due: none

perf(python): eliminate metadata JSON serialization round-trip
  crates/kreuzberg-node/src/lib.rs
  crates/kreuzberg-py/src/plugins.rs
  crates/kreuzberg-wasm/src/extraction.rs
Due: typescript-typecheck

perf(python): optimize table extraction with iterator chains
  crates/kreuzberg-py/src/plugins.rs
Due: none

fix(profiling): correct fixture names in .profiling-subset
  tools/benchmark-harness/fixtures/.profiling-subset
Due: none
