Repository yhilem/ai_kreuzberg: changes, and which pre-commit hooks are due for each by the changed paths.
All: taplo-format, taplo-format-check, cargo-deny-licenses, go-fmt, golangci-lint, rubocop, steep, java-pmd, mypy, typescript-typecheck, dotnet-format

Path conditions:
  taplo-format: any of: \.toml$, but not: ^docs/snippets/|vendor/|node_modules/|target/|v3/|invalid*
  taplo-format-check: any of: \.toml$, but not: ^docs/snippets/|vendor/|node_modules/|target/|v3/|invalid*
  cargo-deny-licenses: any of: ^(Cargo\.toml|Cargo\.lock|crates/.*/Cargo\.toml|tools/.*/Cargo\.toml|e2e/rust/Cargo\.toml|packages/ruby/ext/kreuzberg_rb/native/Cargo\.toml|deny\.toml)$, but not: ^docs/snippets/|vendor/|node_modules/|target/|v3/|invalid*
  go-fmt: any of: ^packages/go/.*\.go$, but not: ^docs/snippets/|vendor/|node_modules/|target/|v3/|invalid*
  golangci-lint: any of: ^packages/go/, but not: ^docs/snippets/|vendor/|node_modules/|target/|v3/|invalid*
  rubocop: any of: ^packages/ruby/.*\.rb$, but not: ^docs/snippets/|vendor/|node_modules/|target/|v3/|invalid*
  steep: any of: ^packages/ruby/(lib|sig)/.*\.(rb|rbs)$, but not: ^docs/snippets/|vendor/|node_modules/|target/|v3/|invalid*
  java-pmd: any of: ^packages/java/src/.*\.java$, but not: ^docs/snippets/|vendor/|node_modules/|target/|v3/|invalid*
  mypy: any of: \.py$, but not: ^docs/snippets/|vendor/|node_modules/|target/|v3/|invalid*
  typescript-typecheck: any of: ^crates/kreuzberg-node/, but not: ^docs/snippets/|vendor/|node_modules/|target/|v3/|invalid*
  dotnet-format: any of: ^packages/csharp/, but not: ^docs/snippets/|vendor/|node_modules/|target/|v3/|invalid*

chore: cleanup subagent profiling reports
  tools/profiling-reports/session3-baseline-analysis.md
Due: none

feat(session-3): Task 3.4 - Pool reuse optimization with parking_lot
  Cargo.toml
  crates/kreuzberg/Cargo.toml
  crates/kreuzberg/src/core/batch_optimizations.rs
  crates/kreuzberg/src/utils/pool.rs
Due: taplo-format, taplo-format-check, cargo-deny-licenses

perf(quality): single-pass OCR artifact scanning with combined regex
  crates/kreuzberg/src/text/quality.rs
Due: none

perf(quality): lazy metadata conversion to avoid string allocation
  crates/kreuzberg/src/text/quality.rs
  crates/kreuzberg/src/text/quality_processor.rs
Due: none

perf(config): optimize processor config lookups with HashSet pre-computation
  crates/kreuzberg/src/core/config.rs
  crates/kreuzberg/src/core/pipeline.rs
Due: none

fix(docker): pin ONNX Runtime to 1.23 for ort crate compatibility
  CHANGELOG.md
  docker/Dockerfile.core
  docker/Dockerfile.full
Due: none

fix(ffi/py): replace deprecated metadata.date field with created_at
  crates/kreuzberg-ffi/src/lib.rs
  crates/kreuzberg-ffi/src/result_pool.rs
  crates/kreuzberg-ffi/src/result_view.rs
  crates/kreuzberg-py/src/plugins.rs
  crates/kreuzberg-py/src/types.rs
Due: none

fix(docker): remove vendor/rb-sys COPY directive
  .dockerignore
  docker/Dockerfile.core
  docker/Dockerfile.full
Due: none

fix(api): resolve large file upload limit (issue #248)
  CHANGELOG.md
  crates/kreuzberg-node/src/lib.rs
  crates/kreuzberg-py/src/config.rs
  crates/kreuzberg-py/src/lib.rs
  crates/kreuzberg/src/api/handlers.rs
  crates/kreuzberg/src/api/server.rs
  crates/kreuzberg/src/api/types.rs
  crates/kreuzberg/tests/api_tests.rs
  docs/guides/docker.md
  docs/reference/configuration.md
  docs/reference/file-size-limits.md
Due: typescript-typecheck

fix(wasm): resolve browser package issues in #249
  crates/kreuzberg-wasm/package.json
  crates/kreuzberg-wasm/scripts/copy-pkg.js
  crates/kreuzberg-wasm/tsup.config.ts
  crates/kreuzberg-wasm/typescript/index.ts
  crates/kreuzberg-wasm/typescript/ocr/tesseract-wasm-backend.ts
Due: none

fix(node): resolve missing native binaries in npm/Docker (#241)
  crates/kreuzberg-node/.npmignore
  crates/kreuzberg-node/package.json
Due: typescript-typecheck

chore: release v4.0.0-rc.19
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  crates/kreuzberg-node/npm/darwin-arm64/package.json
  crates/kreuzberg-node/npm/darwin-x64/package.json
  crates/kreuzberg-node/npm/linux-arm-gnueabihf/package.json
  crates/kreuzberg-node/npm/linux-arm64-gnu/package.json
  crates/kreuzberg-node/npm/linux-x64-gnu/package.json
  crates/kreuzberg-node/npm/win32-arm64-msvc/package.json
  crates/kreuzberg-node/npm/win32-x64-msvc/package.json
  crates/kreuzberg-node/package.json
  crates/kreuzberg-node/tests/binding/cli.spec.ts
  crates/kreuzberg-node/typescript/index.ts
  crates/kreuzberg-wasm/package.json
  crates/kreuzberg/Cargo.toml
  crates/kreuzberg/tests/pipeline_integration.rs
  e2e/go/go.mod
  e2e/java/pom.xml
  e2e/smoke/node/package.json
  e2e/wasm-workers/package.json
  package.json
  packages/csharp/Kreuzberg/Kreuzberg.csproj
  packages/csharp/README.md
  packages/go/README.md
  packages/go/v4/doc.go
  packages/java/README.md
  packages/java/pom.xml
  packages/python/pyproject.toml
  packages/ruby/Gemfile.lock
  packages/ruby/ext/kreuzberg_rb/native/Cargo.toml
  packages/ruby/lib/kreuzberg/version.rb
  packages/typescript/core/package.json
  test_documents/json/real_world/package.json
  tools/benchmark-harness/scripts/go.mod
  tools/e2e-generator/src/java.rs
Due: taplo-format, taplo-format-check, cargo-deny-licenses, go-fmt, golangci-lint, rubocop, steep, typescript-typecheck, dotnet-format

fix(ci): add FFI header copy step for Go workflow and update deps
  .github/workflows/ci-go.yaml
  Cargo.lock
  Cargo.toml
  crates/kreuzberg-node/Cargo.toml
  crates/kreuzberg-node/package.json
  crates/kreuzberg/Cargo.toml
  package.json
  packages/ruby/Gemfile.lock
  packages/ruby/ext/kreuzberg_rb/native/Cargo.lock
  scripts/ci/go/copy-ffi-header.sh
  uv.lock
Due: taplo-format, taplo-format-check, cargo-deny-licenses, typescript-typecheck

fix(node): remove manual optionalDependencies from package.json
  crates/kreuzberg-node/package.json
Due: typescript-typecheck
